{% extends "base.html" %}

{% block content %}
<div class="about-container">
    <div class="about-header">
        <h1>Naš Tim</h1>
        <p>Upoznajte ljude koji su na Krstaškom pohodu kodiranja</p>
    </div>
    
    <div class="team-members">
        <div class="member-card">
            <div class="member-image">
                <img src="/media/Stefan.png" alt="Član tima 1">
            </div>
            <h3>Stefan Jovišić</h3>
            <p class="member-role">The Prince of Backend</p>
            <p class="member-description"><b>Stefan Jovišić</b> je učenik četvrte godine <a href="https://gimnazijatvrdjava.edu.rs/" target="_blank">Privatne gimnazije Tvrđava<i class="fa-solid fa-up-right-from-square"></i></a>. <b>Poseduje veliku motivaciju</b> i <b>istrajanost ka sajber bezbednosti</b>, <b>bug bounty hunting-u </b>🦟🔫 i <b>back end-u kao opštem pojmu</b>. Voli da sluša muziku i ne odustaje lako od izazova. Možete pratiti Stefanov napredak putem <a href="https://app.hackthebox.com/users/384066" target="_blank">ovog HackTheBox linka<i class="fa-solid fa-up-right-from-square"></i></a></p>
        </div>

        <div class="member-card">
            <div class="member-image">
                <img src="/media/Mateja.png" alt="Član tima 2">
            </div>
            <h3>Mateja Milivojev</h3>
            <p class="member-role">The  <b><img src = "https://static-00.iconduck.com/assets.00/archlinux-icon-2048x2048-q7549ths.png" style="width: 1.5rem; height: 1.5rem;"></img>rch</b> Duke of Linux</p>
            <p class="member-description"><b>Mateja Milivojev</b> je učenik treće godine <a href="https://gimnazijatvrdjava.edu.rs/" target="_blank">Privatne gimnazije Tvrđava<i class="fa-solid fa-up-right-from-square"></i></a>. <b>Fasciniran je etičkim hakovanjem i svetom programiranja</b>. Profesionalno koristi Discord soundboard (pitajte ostatak kolega iz tima). Ne prati sport! 😅</p>
        </div>

        <div class="member-card">
            <div class="member-image">
                <img src="/media/Roman.png" alt="Član tima 4">
            </div>
            <h3>Roman Herceg Terzić</h3>
            <p class="member-role">Baron of Robotics</p>
            <p class="member-description"><b>Roman Herceg Terzić</b> je takođe učenik treće godine <a href="https://gimnazijatvrdjava.edu.rs/" target="_blank">Privatne gimnazije Tvrđava<i class="fa-solid fa-up-right-from-square"></i></a>. <b>Veliki je (2m 😎) ljubitelj mehatronike  (posebno robotike) i ponosan član e-sports tima "Jorgovan"</b>. Odličan je igrač i uživa u igranju košarke.</p>
        </div>

        <div class="member-card">
            <div class="member-image">
                <img src="/media/Danilo.png" alt="Član tima 3">
            </div>
            <h3>Danilo Milanović</h3>
            <p class="member-role">Count of the...</p>
            <p class="member-description"><b>Danilo Milanović</b>je takođe učenik treće godine <a href="https://gimnazijatvrdjava.edu.rs/" target="_blank">Privatne gimnazije Tvrđava<i class="fa-solid fa-up-right-from-square"></i></a>. <b>Veliki je, slično Romanu(isto 2m 😎)</p>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h4>HZS Crusaders</h4>
            <p>Vaš put ka uspehu</p>
        </div>
        <div class="footer-section">
            <h4>Kontakt</h4>
            <p>Email: info@hzscrusaders.com</p>
            <p>Tel: +381 11 123 456</p>
        </div>
        <div class="footer-section">
            <h4>Pratite nas</h4>
            <div class="social-links">
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
                <a href="#">Twitter</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 HZS Crusaders. Sva prava zadržana.</p>
    </div>
</footer>
{% endblock %}